.jumbotron {
    position: relative;
    background: url(../assets/public_site_images/home_jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.car-search form{
    width: 900px;
}
.car-search p {
    font-size: 1.3rem;
}
.car-search {
    margin-bottom: 10vw;
}
svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    margin-top:50px;
  }