
  .testimonials {
    overflow: hidden;
    position: relative;
    padding-top: 12vw;
    padding-bottom: 12vw;
  }
  
  .testimonials-container {
    position: relative;
    background: url(../assets/public_site_images/home_jumbotron-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-top:70px;
  }
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }

  
  @media screen and (max-width: 900px) {
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h1 {
      font-size: 1.5rem;
    }
  }