.jumbotron {
    position: relative;
    background: url(../assets/public_site_images/home_jumbotron-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.car-search form{
    width: 900px;
}
.car-search p {
    font-size: 1.3rem;
}
.car-search {
    padding-bottom: 10vw;
}